.c-navigation {
    flex-direction: column-reverse;

  @include media-query("desktop"){
    background-color: $primary-blue;
    flex-direction: column;
  }

  &__contact {
    flex-direction: column;
    
    @include media-query("desktop") {
      flex-direction: row;
      margin: 0 auto;
      padding: 8px 0;
      width: 1130px;
    }
  }

  &__item {
    margin-right: 24px;
  }

  &__link {
    color: $primary-blue;
    font-size: 1.125rem;
    
    @include media-query("desktop"){
      color: $primary-blue--light;
      font-size: 1rem;
    }

    .c-navigation--primary & {
      color: $primary-blue;
    }
  }

  &--primary {
    
    
    @include media-query("desktop"){
      background-color: $color-white;
      border-bottom: 2px solid $primary-blue;
      padding: 16px 0;
    }
  }

  &__menu {
    flex-direction: column;

    @include media-query("desktop") {
      flex-direction: row;
      margin: 0 auto;
      width: 1130px;
    }

    li:first-child {
      @include media-query('desktop', 'max-width'){
        display: none;
      }
    }
  }
}