// Theme colors
$primary-blue: #15334e;
$primary-blue--light: #eaf2f9;

// Default colors
$color-white: #ffffff;

// Fonts
$primary-font: 'AvenirNext Regular';
$primary-font--demiBold: 'AvenirNext DemiBold';
$primary-font--bold: 'AvenirNext Bold';
